In [7]:
import sqlite3

In [9]:
#connect to database
conn = sqlite3.connect("company.db")
cursor = conn.cursor()

In [11]:
# create Employees table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Employees (
    employee_id INT PRIMARY KEY,
    name TEXT,
    department TEXT,
    joining_date DATE
)
""")

In [13]:
conn.commit()

In [15]:
#insert employee data
cursor.execute("INSERT INTO Employees VALUES (1, 'Alice', 'HR', '2023-01-15')")
cursor.execute("INSERT INTO Employees VALUES (2, 'Bob', 'IT', '2023-02-01')")
conn.commit()

In [17]:
#Fetch Employee Data
cursor.execute("SELECT * FROM Employees")
print(cursor.fetchall())

[(1, 'Alice', 'HR', '2023-01-15'), (2, 'Bob', 'IT', '2023-02-01')]

In [31]:
# create Attendance table table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Attendance (
    attendance_id INT PRIMARY KEY,
    employee_id INT 
    Date DATE,
    Status VARCHAR(10),-- present/Absent/Late,
    FOREIGN KEY (employee_id) REFERENCES Attendance(employee_id)
)
""")

In [33]:
conn.commit()

In [39]:
#insert ATTENDANCE data
cursor.execute("INSERT INTO Attendance VALUES (1,'2023-01-15','present')")
cursor.execute("INSERT INTO Attendance VALUES (2, '2023-02-01','Late')")
conn.commit()

In [41]:
#Fetch Attendance Data
cursor.execute("SELECT * FROM Attendance")
print(cursor.fetchall())

[(1, '2023-01-15', 'present'), (2, '2023-02-01', 'Late')]

In [49]:
# createperformance table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Performance (
  performance_id INT PRIMARY KEY,
    employee_id INT,
    review_date DATE,
    score INT, -- 1 to 10
    FOREIGN KEY (employee_id) REFERENCES Performance(employee_id)
)
""")

In [51]:
conn.commit()

In [57]:
#insert Performance data
cursor.execute("INSERT INTO Performance VALUES (1, 2052, '2023-01-15',5)")
cursor.execute("INSERT INTO Performance VALUES (2, 2062, '2023-02-01',10)")
conn.commit()

In [59]:
#Fetch Performance Data
cursor.execute("SELECT * FROM Performance")
print(cursor.fetchall())

[(1, 2052, '2023-01-15', 5), (2, 2062, '2023-02-01', 10)]

In [67]:
import pandas as pd

In [75]:
performance = pd.read_sql_query("""
    SELECT e.name, AVG(p.score) as avg_score
    FROM Employees e
    JOIN Performance p ON e.employee_id = p.employee_id
    GROUP BY e.name
""", conn)
print(performance)

Empty DataFrame
Columns: [name, avg_score]
Index: []